@import "./../style-guide/typography.scss";

.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  font-family: $quicksand;
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid HSL(0, 0%, 90%);
  z-index: 1000;

  li {
    display: inline-block;
  }
  a {
    padding: 15px 40px !important;
  }
}
