@import "./../style-guide/_typography.scss";

.footer {
  border-top: 1px solid HSL(0, 0%, 90%);

  padding: 30px 0;

  .email {
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 30px;

    i {
      margin-right: 1rem;
    }
  }

  .social-media-button {
    border-radius: 0;
    &:hover i {
      color: white !important;
    }
  }
}
